body {
    width: 100vh;
    height: 100vh;
}

nav {
    width: 100vh;
}

.nav {
    width: 100vh;
    display: flex;
}

.nav_title {
    float: inline-start;
}

.nav_menu > a {
    text-decoration: none;
}

.nav_menu {
    float: inline-end;
}